---
interface Props {
  day: number;
}

const { day } = Astro.props;
const paddingDay = String(day).padStart(3, "0");
---

<li class="link-card">
  <div>
    <iframe
      class="frame"
      src=`./days/day-${paddingDay}/index.html`
      frameborder="0"></iframe>
    <div class="content">
      <a href=`https://100dayscss.com/days/${day}/`>
        <h2>
          Day {day}
          <span class="one">&rarr;</span>
        </h2>
      </a>
    </div>
  </div>
</li>
<style>
  .link-card {
    list-style: none;
    display: flex;
    padding: 1px;
    background-color: #23262d;
    border-radius: 0.5rem;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  }
  .link-card > div {
    width: 100%;
    line-height: 1.4;
    border-radius: 8px;
    color: white;
    opacity: 0.8;
  }
  .frame {
    width: var(--day-container-size);
    height: var(--day-container-size);
    border-radius: 0.5rem 0.5rem 0 0;
  }
  .content {
    padding: 1rem;
  }
  a {
    color: inherit;
    text-decoration: none;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  a:hover {
    color: rgb(var(--accent-light));
  }
  a:hover span {
    padding-left: 0.5rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  span {
    transition: padding-left 0.5s;
  }
</style>
